body{
    background-color: yellow;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
div{
    background-color: wheat;
    text-align: center;
    align-items: center;
    padding: 20px;
    max-width: 40%;
}
.cheese{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bread{
    background-color: burlywood;
    color: wheat;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 35px 7px 15px 0px;
}