body{
    background-color: aqua;
}
div{
    background-color: aliceblue;
    margin-left: 250px;
    margin-top: 90px;
    max-width: 40%;
}
.button1{
    color: royalblue;
    background-color: lawngreen;
    border-radius: 5%;
    margin-left: 50px;
}
.button2{
    color: lightcoral;
    background-color: royalblue;
    border-radius: 5%;
    margin-left: 60px;
}