body{
    background-color: brown;
    display: block;
}
div{
    background-color: burlywood;
    margin-left: 250px;
    max-width: 40%;
    border-radius: 1%;
}
.history{
    color: blue;
}
a{
    margin-left: 150px;
    color: whitesmoke;
}